<% if authenticated? %>
  <!-- Hiển thị nội dung khi đã đăng nhập -->
  <h1 class="row justify-content-center mb-4">Products</h1>
  <div class="d-flex justify-content-between mb-4">
    <%= button_to "New product", new_product_path, method: :get, class: "btn btn-primary" %>
    
  </div>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 d-flex justify-content-center"> <!-- Giới hạn card vào cột -->
        <div class="card mb-4" style="max-width: 18rem;"> <!-- Giới hạn kích thước card -->
          <% if product.featured_image.attached? %>
            <%= image_tag product.featured_image, class: "img-fluid", style: "height: 200px; object-fit: cover;" %>
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="text-muted mb-2"><strong>Inventory Count:</strong> <%= product.inventory_count %></p>
            <%= link_to "View", product, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <!-- Hiển thị form đăng nhập/đăng ký khi chưa đăng nhập -->
  <div class="d-flex justify-content-center mt-5">
    <%= render 'sessions/form' %> <!-- Giả sử bạn có form đăng nhập trong partial _form.html.erb -->
  </div>
<% end %>
